<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89134278168-klrk2n175lunudmqr6tihgcnfbgbgse6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89134278168-klrk2n175lunudmqr6tihgcnfbgbgse6</string>
	<key>API_KEY</key>
	<string>AIzaSyCnxHXO3ROwprsSxf47UnDPSfX58iaXEGc</string>
	<key>GCM_SENDER_ID</key>
	<string>89134278168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizapp1</string>
	<key>PROJECT_ID</key>
	<string>quizapp-df4cf</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-df4cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89134278168:ios:e8b1712a9e40ca14ac056d</string>
</dict>
</plist>